header {
  background-color: #141414;
  text-align: right;
  padding: 35px;
  padding-right: 100px;
  padding-left: 100px;
  font-size: 18px;
  display: flex;
  justify-content: space-between;
}

a {
  position: relative;
  text-decoration-line: none;
  margin-left: 35px;
  padding: 0 10px;
  transition: 0.3s;
}

a:after {
  content: "";
  position: absolute;
  background-color: lightgray;
  width: 0;
  height: 2px;
  left: 0;
  bottom: -5px;
  transition: 0.3s;
}

a:hover {
  color: white;
  transition: 0.3s;
}

a:hover:after {
  width: 100%;
}

.brackets {
  color: #5252f8;
  margin-left: 0;
}

.hr-header {
  width: 1000px;
  border: 1px solid  #333333;
  background-color: #141414;
}

.div-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-right: 250px;
}
